#top-panel {
  background-image: none;
  background: black;
}

#top-panel img:first-child {
  background-image: none;
  background: url(../images/topbar.png) repeat-x;
}

#search-box {
  margin-top: 9px;
}

#main-table {
  background:fixed
}
